In [8]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [11]:
data = data.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'Geography', 'Gender'], axis=1)

In [12]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0
9996,516,35,10,57369.61,1,1,1,101699.77,0
9997,709,36,7,0.00,1,0,1,42085.58,1
9998,772,42,3,75075.31,2,1,0,92888.52,1
9999,792,28,4,130142.79,1,1,0,38190.78,0

In [13]:
X = data.drop(['Exited'], axis=1)
Y=data['Exited']

In [14]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [16]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
7389,667,34,5,0.00,2,1,0,163830.64
9275,427,42,1,75681.52,1,1,1,57098.00
2995,535,29,2,112367.34,1,1,0,185630.76
5316,654,40,5,105683.63,1,1,0,173617.09
356,850,57,8,126776.30,2,1,1,132298.49
...,...,...,...,...,...,...,...,...
9225,594,32,4,120074.97,2,1,1,162961.79
4859,794,22,4,114440.24,1,1,1,107753.07
3264,738,35,5,161274.05,2,1,0,181429.87
9845,590,38,9,0.00,2,1,1,148750.16
2732,623,48,1,108076.33,1,1,0,118855.26

In [17]:
X_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
9394,597,35,8,131101.04,1,1,1,192852.67
898,523,40,2,102967.41,1,1,0,128702.10
2398,706,42,8,95386.82,1,1,1,75732.25
5906,788,32,4,112079.58,1,0,0,89368.59
2343,706,38,5,163034.82,2,1,1,135662.17
...,...,...,...,...,...,...,...,...
1037,625,24,1,0.00,2,1,1,180969.55
2899,586,35,7,0.00,2,1,0,70760.69
9549,578,36,1,157267.95,2,1,0,141533.19
2740,650,34,4,142393.11,1,1,1,11276.48
6690,573,30,8,127406.50,1,1,0,192950.60

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-2.30455945,  0.30102557, -1.37744033, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-1.19119591, -0.94312892, -1.031415  , ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.62420521, -0.08179119,  1.39076231, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-0.28401079,  0.87525072, -1.37744033, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [20]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-1.31490297,  0.10961719, -1.031415  , ...,  0.64259497,
        -1.03227043,  0.49587037],
       [ 0.57162971,  0.30102557,  1.04473698, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [-0.00566991, -0.46460796, -0.33936434, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [-0.79945688, -0.84742473,  1.04473698, ...,  0.64259497,
        -1.03227043,  1.61255917]])

In [21]:
X_train.shape

(8000, 8)

In [22]:
X_test.shape

(2000, 8)

In [23]:
from tensorflow import keras

In [24]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import ReLU,PReLU,ELU

In [25]:
classifier = Sequential()

In [26]:
#Adding the input layer
classifier.add(Dense(units=8,activation='relu'))

In [27]:
#Adding the first hidden layer
classifier.add(Dense(units=10,activation='relu'))

In [28]:
#Adding the second hidden layer
classifier.add(Dense(units=15, activation="relu"))

In [29]:
#Adding the output layer
classifier.add(Dense(1, activation="sigmoid"))

In [30]:
#Adding the optimizer and loss
classifier.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [35]:
classifier.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [37]:
classifier.fit(X_train, Y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10

200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8411 - loss: 0.3748 - val_accuracy: 0.8313 - val_loss: 0.3950
Epoch 2/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8474 - loss: 0.3639 - val_accuracy: 0.8438 - val_loss: 0.3901
Epoch 3/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8477 - loss: 0.3630 - val_accuracy: 0.8363 - val_loss: 0.3861
Epoch 4/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8429 - loss: 0.3626 - val_accuracy: 0.8438 - val_loss: 0.3822
Epoch 5/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8499 - loss: 0.3584 - val_accuracy: 0.8456 - val_loss: 0.3821
Epoch 6/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8512 - loss: 0.3607 - val_accuracy: 0.8469 - val_loss: 0.3817
Epoch 7/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8555 - loss: 0.3544 - val_accuracy: 0.8469 - val_loss: 0.3813
Epoch 8/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8541 - loss: 0.3540 - val_accuracy: 0.8444 - val_loss: 0.3790
Epoch 9/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8482 - loss: 0.3550 - val_accuracy: 0.8413 - val_loss: 0.3789
Epoch 10/10
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8493 - loss: 0.3555 - val_accuracy: 0.8500 - val_loss: 0.3805

In [42]:
test_loss, test_acc = classifier.evaluate(X_test, Y_test)
print('Test accuracy:', test_acc)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.8544 - loss: 0.3492
Test accuracy: 0.8575000166893005

In [ ]:
model = keras.Sequential([
    keras.layers.Dense(11, activation='relu', input_shape=(X_train.shape[1],)),
    keras.layers.Dense(11, activation='relu'),
    keras.layers.Dense(11, activation='tanh')
])

In [ ]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.fit(X_train, Y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
200/200 [==============================] - 2s 5ms/step - loss: 1.5582 - accuracy: 0.2444 - val_loss: 1.3938 - val_accuracy: 0.2100
Epoch 2/10
200/200 [==============================] - 0s 2ms/step - loss: 1.2899 - accuracy: 0.1395 - val_loss: 1.2479 - val_accuracy: 0.1156
Epoch 3/10
200/200 [==============================] - 0s 2ms/step - loss: 1.1860 - accuracy: 0.0822 - val_loss: 1.1617 - val_accuracy: 0.0838
Epoch 4/10
200/200 [==============================] - 0s 2ms/step - loss: 1.1167 - accuracy: 0.0708 - val_loss: 1.0653 - val_accuracy: 0.0669
Epoch 5/10
200/200 [==============================] - 0s 2ms/step - loss: 1.0270 - accuracy: 0.0428 - val_loss: 1.0214 - val_accuracy: 0.0506
Epoch 6/10
200/200 [==============================] - 0s 2ms/step - loss: 1.0027 - accuracy: 0.0395 - val_loss: 1.0026 - val_accuracy: 0.0456
Epoch 7/10
200/200 [==============================] - 0s 2ms/step - loss: 0.9885 - accuracy: 0.0408 - val_loss: 0.9948 - val_accuracy: 0.0475
Epoch 8/10
200/200 [==============================] - 0s 2ms/step - loss: 0.9786 - accuracy: 0.0523 - val_loss: 0.9805 - val_accuracy: 0.0544
Epoch 9/10
200/200 [==============================] - 0s 2ms/step - loss: 0.9701 - accuracy: 0.0556 - val_loss: 0.9685 - val_accuracy: 0.0362
Epoch 10/10
200/200 [==============================] - 0s 2ms/step - loss: 0.9617 - accuracy: 0.0347 - val_loss: 0.9784 - val_accuracy: 0.0450

In [ ]:
test_loss, test_acc = model.evaluate(X_test, Y_test)
print('Test accuracy:', test_acc)

63/63 [==============================] - 0s 1ms/step - loss: 0.9725 - accuracy: 0.0400
Test accuracy: 0.03999999910593033